/* ---- Variables ---- */
:root {
    --Yellow: #f4d04e;
    --Gray-950: #111111;
    --Gray-500: #6B6B6B;
    --Card-color: #ffffff;
}

/* ---- Font Imports ---- */
@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ---- General Typography ---- */
html {
    font-family: 'Figtree', sans-serif; 
    font-size: 62.5%; /* 10px */
    color: var(--Gray-950);
}

/* ---- Shared Typography ---- */
.category p, .title, .publish-date, .description, .card-footer p {
    line-height: 150%;

}

.category p, .publish-date, .card-footer p {
    font-size: 1.4rem;
}

/* ---- Category Typography ---- */
.category p {
    font-weight: 800;
}

/* ---- Publish Date Typography ---- */
.publish-date {
    font-weight: 500;
}

/* ---- Title Typography ---- */
.title {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    font-size: 2.4rem;
}

/* ---- Description Typography ---- */
.description {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--Gray-500);
}

/* ---- Card Footer Text Typography ---- */
.card-footer p {
    font-weight: 800;
}

/* ---- Mobile Typography ---- */
@media (max-width: 376px) {  

    .category p, .publish-date {
        font-size: 1.2rem;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.4rem;
    }
}


/* ---- General Layout Styles ---- */
* {
    box-sizing: border-box;
}

/* ---- Shared Layout Styles ---- */
body, .card-body p, .card-body a, .card-footer p {
    margin: 0px;
}

.content, .card, .card-body, .card-footer {
    display: flex;
}

.card, .card-body {
    flex-direction: column;
}

.blog-logo-img, .card-body {
    width: 336px;
}

/* ---- General Layout Styles ---- */
body {
    background-color: var(--Yellow);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ---- Card Styles ---- */
.card {
    width: 384px;
    height: 522px;
    background-color: var(--Card-color);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--Gray-950);
    box-shadow: 8px 8px 0px #000000;
    row-gap: 24px;
}

/* ---- Card Body Styles ---- */
.card-body {
    row-gap: 12px;
}

/* ---- Category Styles ---- */
.category {
    background-color: var(--Yellow);
    width: 82px;
    border-radius: 4px;
    padding: 4px 12px;
}

/* ---- Publish Date Styles ---- */
.publish-date {
    width: 143px;
}

/* ---- Title Hover Effects ---- */
.title:hover{
    color: var(--Yellow)
}

.title:focus {
    color: var(--Yellow);
}

/* ---- Card Footer Styles ---- */
.card-footer {
    column-gap: 12px;
    align-items: center;
    width: 129px;
}

/* ---- Card Footer Image Styles ---- */
.card-footer img {
    width: 32px;
    height: 32px;
}

/* ---- Mobile Styles ---- */
@media (max-width: 376px) {  

    .card {
        width: 327px;
        height: 501px;
    }

    .blog-logo-img {
        width: 279px;
        height: 200px;
    }

    .card-body {
        width: 279px;
    }

    .category {
        width: 73px;
    }

    .publish-date {
        width: 123px;
    }

    .title {
        width: 279px;
    }

    .title:active {
        color: var(--Yellow);
    }

    .description {
        width: 279px;
    }

}
